<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="portal.Properties.Settings.帳號密碼資料表ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|帳號密碼資料表.accdb"
            providerName="System.Data.OleDb" />
        <add name="portal.Properties.Settings.帳號密碼資料表ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|帳號密碼資料表.accdb"
            providerName="System.Data.OleDb" />
        <add name="portal.Properties.Settings.作業資料表ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|作業資料表.accdb"
            providerName="System.Data.OleDb" />
        <add name="portal.Properties.Settings.導生資料表ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|導生資料表.accdb"
            providerName="System.Data.OleDb" />
        <add name="portal.Properties.Settings.繳交作業資料表ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|繳交作業資料表.accdb"
            providerName="System.Data.OleDb" />
        <add name="portal.Properties.Settings.作業_成績資料表ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|作業&amp;成績資料表.accdb"
            providerName="System.Data.OleDb" />
        <add name="portal.Properties.Settings.繳交作業資料表ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|繳交作業資料表.accdb"
            providerName="System.Data.OleDb" />
        <add name="portal.Properties.Settings.繳交作業資料表ConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|繳交作業資料表.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>